<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @aluno.nome %>
</p>

<%= link_to 'Editar', edit_aluno_path(@aluno, :turma_id => @turma.id) %> |
<%= link_to 'Voltar', turma_path(@turma) %>
